/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/



/*margin*/
	.m-t-10{
		margin-top: 10px;
	}

	.m-t-20{
		margin-top: 20px;
	}

	.m-t-30{
		margin-top: 30px;
	}

	.m-t-40{
		margin-top: 40px;
	}

	.m-t-50{
		margin-top: 50px;
	}

	.m-b-10{
		margin-bottom: 10px;
	}

	.m-b-20{
		margin-bottom: 20px;
	}

	.m-b-30{
		margin-bottom: 30px;
	}

	.m-b-40{
		margin-bottom: 40px;
	}

	.m-b-50{
		margin-bottom: 50px;
	}

	.m-r-10{
		margin-right: 10px;
	}

	.m-r-20{
		margin-right: 20px;
	}

	.m-r-30{
		margin-right: 30px;
	}

	.m-r-40{
		margin-right: 40px;
	}

	.m-r-50{
		margin-right: 50px;
	}

	.m-l-10{
		margin-left: 10px;
	}

	.m-l-20{
		margin-left: 20px;
	}

	.m-l-30{
		margin-left: 30px;
	}

	.m-l-40{
		margin-left: 40px;
	}

	.m-l-50{
		margin-left: 50px;
	}

/*padding*/
	
	.p-t-10{
		padding-top: 10px;
	}

	.p-t-20{
		padding-top: 20px;
	}

	.p-t-30{
		padding-top: 30px;
	}

	.p-t-40{
		padding-top: 40px;
	}

	.p-t-50{
		padding-top: 50px;
	}

	.p-b-10{
		padding-bottom: 10px;
	}

	.p-b-20{
		padding-bottom: 20px;
	}

	.p-b-30{
		padding-bottom: 30px;
	}

	.p-b-40{
		padding-bottom: 40px;
	}

	.p-b-50{
		padding-bottom: 50px;
	}

	.p-r-10{
		padding-right: 10px;
	}

	.p-r-20{
		padding-right: 20px;
	}

	.p-r-30{
		padding-right: 30px;
	}

	.p-r-40{
		padding-right: 40px;
	}

	.p-r-50{
		padding-right: 50px;
	}

	.p-l-10{
		padding-left: 10px;
	}

	.p-l-20{
		padding-left: 20px;
	}

	.p-l-30{
		padding-left: 30px;
	}

	.p-l-40{
		padding-left: 40px;
	}

	.p-l-50{
		padding-left: 50px;
	}

	

	.red{
		color: red !important;
	}

	.green{
		color: green !important;
	}
	
	.white{
		color:white !important;
	}


#top-search a i {
    top: -14px;
}

.right {
	text-align: right !important;
}

.center {
	text-align: center !important;
}

.select2-container--default .select2-selection--single{
    border: 1px solid #e9ecef;
    border-radius: 4px;
    height: 38px;
}

.event-location iframe {
	width: 100%;
	height: 250px;
}